# --- Backend (Java / Maven) ---
/backend/target/
/backend/.idea/
/backend/.project
/backend/.classpath
/backend/.settings/

# --- Frontend (Node / Angular) ---
/frontend/node_modules/
/frontend/dist/
/frontend/.angular/
/frontend/.vscode/

# OS / temp stuff
.DS_Store
Thumbs.db

# Logs
*.log
/backend/logs/
/frontend/logs/
/.metadata/
backend/.metadata/
backend/src/main/resources/application.properties
